.btn {
  width: 30%;
  border: 0.1rem solid rgba(51, 116, 255, 0.8);
  background: rgb(51, 116, 255);
  color: #ffffff;

  @include flex-row;
  @include justify-c;
  @include align-c;

  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.btn:hover {
  cursor: pointer;
}
