$product-card-black: #333333;
$white:#ffffff;

.product {
  width: 70%;
  position: relative;
  display: flex;
  height: 80vh;
  box-shadow: -1.5rem 1.5rem 3.1.5rem rgba(0, 0, 0, 0.2);
  margin: 1rem;

  &__left {
    height: 80vh;
    width: 70%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    @include flex-col;
  }

  &__right {
    background: $white;
    height: auto;
    width: 100%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    @include flex-row;
    @include justify-c;
    @include align-c;

    img {
      height: 70vh;
      width: 80%;
    }
  }

  &__header {
    h1 {
      text-transform: uppercase;
      margin: 1.5rem 0;
      font-size: 1.5rem;
    }
  }

  &__main {
    color: $white;

    @include flex-col;

    background: $product-card-black;
    padding: 1.5rem 1.5rem;
    height: 25vh;
  }

  &__focus {
    text-transform: uppercase;
    margin: 1 0 1rem 0;
    padding: 0 0 1rem 0;
    border-bottom: 0.1.5rem solid rgba(250, 250, 250, 0.3);
  }

  &__focus .link {
    margin: 0 0 0 1rem;
    width: 100%;
    text-decoration: none;
  }

  &__focus span {
    border-bottom: 0.1.5rem solid $white;
    padding: 0 0 1rem 0;
  }

  &__details {
    @include flex-col;

    padding: 1rem;
  }

  &__description {
    margin: 1.5rem 1rem;
    line-height: 1.45;
    font-size: 1rem;
    color: $product-card-black;
  }

  &__rating {
    font-size: 1rem;
    margin: 1rem;

    span:first-child {
      margin-right: 1rem;
    }
  }

  &__total {
    @include flex-row;
    @include align-c;

    font-size: 1rem;
    margin: 1rem;

    p {
      font-weight: 700;
      opacity: 0.5;
      margin-left: 0.3rem;
      margin-bottom: 0;
    }
  }

  &__add {
    border: 0.1rem solid $product-card-black;
    width: 80%;
    padding: 0;
    padding: 0.9rem 1rem;
    border-radius: 5rem;
    transition: all 0.5s ease-out;
    color: $product-card-black;
    text-transform: uppercase;

    @include flex-row;
    @include justify-c;
    @include align-c;

    margin: 1rem;
  }

  &__add:hover {
    background-color: $add-button-hover-background;
    cursor: pointer;
    
    a{
      color: $white;
    }
  }
}

.productWrapper {
  @include flex-row;
  @include justify-c;
}
